.metric-card {
    font-size: 14px !important;
    /* Adjust font size for the metric value */
    padding: 8px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    background-color: #f1f1f1;
}

.metric-title {
    font-size: 16px !important;
    font-weight: bold;
    color: #333;
}

.metric-value {
    font-size: 16px !important;
    color: #000;
}
.ai-recommendations {
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 10px;
}